In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Data import and exploration**

In [ ]:
db = pd.read_csv("data/Foodpanda data.csv")
db.head()

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled

In [ ]:
db.shape

(6000, 20)

In [ ]:
db.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id',
       'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity',
       'price', 'payment_method', 'order_frequency', 'last_order_date',
       'loyalty_points', 'churned', 'rating', 'rating_date',
       'delivery_status'],
      dtype='object')

In [ ]:
#check and delete missing data
db.isnull().sum()

customer_id        0
gender             0
age                0
city               0
signup_date        0
order_id           0
order_date         0
restaurant_name    0
dish_name          0
category           0
quantity           0
price              0
payment_method     0
order_frequency    0
last_order_date    0
loyalty_points     0
churned            0
rating             0
rating_date        0
delivery_status    0
dtype: int64

In [ ]:
#check duplicates
db.duplicated().any()

np.False_

In [ ]:
# Check types
db.dtypes

customer_id         object
gender              object
age                 object
city                object
signup_date         object
order_id            object
order_date          object
restaurant_name     object
dish_name           object
category            object
quantity             int64
price              float64
payment_method      object
order_frequency      int64
last_order_date     object
loyalty_points       int64
churned             object
rating               int64
rating_date         object
delivery_status     object
dtype: object

In [ ]:
#convert date to MySQL Format
db['signup_date'] = pd.to_datetime(db['signup_date'])
db['order_date'] = pd.to_datetime(db['order_date'])
db['last_order_date'] = pd.to_datetime(db['last_order_date'])
db['rating_date'] = pd.to_datetime(db['rating_date'])
db.dtypes

customer_id                object
gender                     object
age                        object
city                       object
signup_date        datetime64[ns]
order_id                   object
order_date         datetime64[ns]
restaurant_name            object
dish_name                  object
category                   object
quantity                    int64
price                     float64
payment_method             object
order_frequency             int64
last_order_date    datetime64[ns]
loyalty_points              int64
churned                    object
rating                      int64
rating_date        datetime64[ns]
delivery_status            object
dtype: object

In [ ]:
import pymysql
from sqlalchemy import create_engine